
.post-modal {
  
  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  padding-top: 30px;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

  &--progress-indc{
    display:none;
  }

  &.loading {
    .post-modal--progress-indc{
      display:block;
    }
  }

  &__header {
    padding: 10px 16px;
    background-color: var(--gold);
    color: white;
    min-height: 30px;
  }

  &__body {padding: 20px;}

  &__footer {
    padding: 2px 16px;
    background-color: var(--gold);
    color: var(--color-primary);
    min-height: 30px;
  }

  &__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid var(--color-primary);
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: post-modal--animatetop;
    animation-duration: 0.4s
  }

  @keyframes post-modal--animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
  &--close {
    color: var(--color-primary);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  &--close:hover,
  &--close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
