
.hero {
  overflow: hidden;
  position: relative;
}

.hero__cover{

  width:100%;
  min-height: 600px;

  padding:50px 25px 0px 25px;

  box-sizing: border-box;
  
  background-size:cover; 
  background-position:center;
  background-repeat: no-repeat;

  @media (--sm) {
    padding:100px 50px 0px 50px;
  }
}

.hero__row{

  display: flex;
  flex-direction: column;

  @media (--md) {
    flex-direction: row;
  }

  > *{

    width: 100%;
    height: 100%;

    @media (--md) {
      width: 50%;
    }
  }
}

.hero__content{
  max-width:1200px;
}

.hero__texts{

  padding:30px;
  color:white;
  overflow:hidden;

  > *{
    margin:15px 0px;
  }
}

.hero__product-image{

  text-align: center;

  img{
    width:80%; 
  }
}
