
.featured {
  height: 400px;
  background-color: var(--gold);
  overflow-y: visible;
  z-index: 1;
  position: relative;

  &__wrap{
    height:600px;
    display: flex;
    flex-direction: column;
    margin-top: -300px;
    position: absolute;
    right: 3%;
    left: 3%;
  }

  &__image{
    background-size:cover; 
    background-position:center;
    background-repeat: no-repeat;
    height:100%;
  }

  &__row{

    display: flex;
    flex-direction: column;

    @media (--md) {
      flex-direction: row;
    }

    > *{

      width: 100%;
      height: 100%;

      @media (--md) {
        width: 50%;
      }
    }
  }

  &__post{
    background-color: white;
    height: 100%;
    margin: 0 !important;
    padding: 40px 80px !important;
    justify-content: center !important;
    height:100% !important;
    box-sizing: border-box;

    > *{
      margin:6px 0px;
    }

    &--excerpt{
      color:var(--white);

      /*WARNING: support for non-webkit platform needed*/
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
